<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Geliştiren by <a href="www.lieyyazilim.com" target="_blank">Liey Yazılım</a> 2023 - @DateTime.Now.Year</p>
    </div>
</div>